<p>{{azure_board}}</p>



<ul class="boards">
    <li *ngFor="let board of boards">
        <button [class.selected]="board === selectedBoard" type="button" (click)="onSelect(board)">
            <span class="badge">{{board.id}}</span>
            <span class="name">{{board.title}}</span>
        </button>
    </li>
</ul>

<div *ngIf="selectedBoard">

    <h1>{{selectedBoard.id}}</h1>
    <!-- <h2>{{selectedBoard.WorkItemType}}</h2> -->
    <h3>{{selectedBoard.title}}</h3>
    <!-- <h3>{{selectedBoard.AssignedTo}}</h3>
    <h3>{{selectedBoard.State}}</h3> -->

    <label for="title">Title:</label>
    <input id="title" [(ngModel)]="selectedBoard.title" placeholder="title">

</div>